In [1]:
# Import data libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# This option ensures the charts you create are displayed in the notebook without the need to "call" them specifically.
%matplotlib inline

# Turning off warning feature
import warnings
warnings.filterwarnings('ignore')

# Supress scientific notation for easier analysis profiling
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
#  Create/save project folder path
path = r"Boat Sales Analysis"

# Read data (csv file)
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'boat_sales_clusters.csv'), index_col=False)

# Read data (csv file)
df1 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'boat_sales_final1.csv'), index_col=False)

In [4]:
df.head(5)

   Unnamed: 0  Year Built  Length  Width   Price  # Views  clusters cluster
0           0     1992.00    7.70   2.46   14900     3263         0    pink
1           1     1979.00   11.12   3.88   35000     2432         0    pink
2           2     2002.00   12.35   3.48  125900     2261         0    pink
3           3     2009.00   20.30   5.20  949000     2154         0    pink
4           4     1993.00    6.14   2.34   19900     2026         0    pink

In [5]:
df = df.drop(columns = ['Unnamed: 0'])

df.head(5)

   Year Built  Length  Width   Price  # Views  clusters cluster
0     1992.00    7.70   2.46   14900     3263         0    pink
1     1979.00   11.12   3.88   35000     2432         0    pink
2     2002.00   12.35   3.48  125900     2261         0    pink
3     2009.00   20.30   5.20  949000     2154         0    pink
4     1993.00    6.14   2.34   19900     2026         0    pink

In [6]:
# Rename column
df.rename(columns = {'Year Built' : 'YearEst'}, inplace = True)
df.rename(columns = {'# Views' : '#Views'}, inplace = True)
df.rename(columns = {'clusters' : 'ClusterID'}, inplace = True)
df.rename(columns = {'cluster' : 'ClusterGrp'}, inplace = True)

df.head(5)

   YearEst  Length  Width   Price  #Views  ClusterID ClusterGrp
0  1992.00    7.70   2.46   14900    3263          0       pink
1  1979.00   11.12   3.88   35000    2432          0       pink
2  2002.00   12.35   3.48  125900    2261          0       pink
3  2009.00   20.30   5.20  949000    2154          0       pink
4  1993.00    6.14   2.34   19900    2026          0       pink

---------------------------------------------------------------------------------------------------------------------------

In [7]:
df1.head(5)

,Unnamed: 0,Category,Manufacturer,Specifications,Year Built,Year Built Condition,Length,Length Condition,Width,Width Condition,Material,Price,Price Condition,Currency,Country,State/Region,Location,# Views,Views Condition
0,0,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,Old,7.70,Medium,2.46,Narrow,Plastic,14900,Low-value product,CHF,Switzerland,Le Landeron,NaN,3263,High Views
1,1,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,Old,11.12,Medium,3.88,Medium,GRP,35000,Low-value product,CHF,Switzerland,Neuenburgersee,Hauterive,2432,High Views
2,2,Bowrider,Windy Power Boats,"Used Boat, Diesel",2002.00,Mid,12.35,Medium,3.48,Medium,GRP,125900,Mid-value product,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,High Views
3,3,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,Mid,20.30,Long,5.20,Wide,GRP,949000,High-value product,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,High Views
4,4,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,Old,6.14,Short,2.34,Narrow,Plastic,19900,Low-value product,CHF,Switzerland,Murtensee,Avenches,2026,High Views

In [8]:
df1 = df1.drop(columns = ['Unnamed: 0'])

df1.head(5)

,Category,Manufacturer,Specifications,Year Built,Year Built Condition,Length,Length Condition,Width,Width Condition,Material,Price,Price Condition,Currency,Country,State/Region,Location,# Views,Views Condition
0,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,Old,7.70,Medium,2.46,Narrow,Plastic,14900,Low-value product,CHF,Switzerland,Le Landeron,NaN,3263,High Views
1,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,Old,11.12,Medium,3.88,Medium,GRP,35000,Low-value product,CHF,Switzerland,Neuenburgersee,Hauterive,2432,High Views
2,Bowrider,Windy Power Boats,"Used Boat, Diesel",2002.00,Mid,12.35,Medium,3.48,Medium,GRP,125900,Mid-value product,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,High Views
3,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,Mid,20.30,Long,5.20,Wide,GRP,949000,High-value product,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,High Views
4,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,Old,6.14,Short,2.34,Narrow,Plastic,19900,Low-value product,CHF,Switzerland,Murtensee,Avenches,2026,High Views

In [9]:
# Rename column
df1.rename(columns = {'Specifications' : 'Cond'}, inplace = True)
df1.rename(columns = {'Year Built' : 'YearEst'}, inplace = True)
df1.rename(columns = {'Year Built Condition' : 'AgeCond'}, inplace = True)
df1.rename(columns = {'Length Condition' : 'LenCond'}, inplace = True)
df1.rename(columns = {'Width Condition' : 'WidCond'}, inplace = True)
df1.rename(columns = {'Price Condition' : 'ValCond'}, inplace = True)
df1.rename(columns = {'Views Condition' : 'VisCond'}, inplace = True)
df1.rename(columns = {'State/Region' : 'StRegion'}, inplace = True)
df1.rename(columns = {'# Views' : '#Views'}, inplace = True)

df1.head(5)

,Category,Manufacturer,Cond,YearEst,AgeCond,Length,LenCond,Width,WidCond,Material,Price,ValCond,Currency,Country,StRegion,Location,#Views,VisCond
0,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,Old,7.70,Medium,2.46,Narrow,Plastic,14900,Low-value product,CHF,Switzerland,Le Landeron,NaN,3263,High Views
1,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,Old,11.12,Medium,3.88,Medium,GRP,35000,Low-value product,CHF,Switzerland,Neuenburgersee,Hauterive,2432,High Views
2,Bowrider,Windy Power Boats,"Used Boat, Diesel",2002.00,Mid,12.35,Medium,3.48,Medium,GRP,125900,Mid-value product,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,High Views
3,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,Mid,20.30,Long,5.20,Wide,GRP,949000,High-value product,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,High Views
4,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,Old,6.14,Short,2.34,Narrow,Plastic,19900,Low-value product,CHF,Switzerland,Murtensee,Avenches,2026,High Views

In [10]:
# Subset the data before merging

# Create subset for multiple columns
#subset_new = ['Category', 'Manufacturer', 'Cond', 'YearEst', 'AgeCond', 'Length', 'LenCond', 'Width', 'WidCond', 'Material', 'Price', 'ValCond', 'Country', 'StRegion', 'VisCond']

#Save the subset
#df_sub = df1[subset_new]

# View the subset
#df_sub

In [11]:
#df_sub

---------------------------------------------------------------------------------------------------------------------------

In [12]:
# Merge using pd.merge() with multiple columns as keys
df_n = pd.merge(df, df1, left_index=True, right_index=True, how='inner')

In [13]:
# Use the indicator argument to check for a full match between the two dataframes (default inner join)
#df_n = df1.merge(df, on='YearEst', indicator=True)

In [14]:
df_n

,YearEst_x,Length_x,Width_x,Price_x,#Views_x,ClusterID,ClusterGrp,Category,Manufacturer,Cond,...,WidCond,Material,Price_y,ValCond,Currency,Country,StRegion,Location,#Views_y,VisCond
0,1992.00,7.70,2.46,14900,3263,0,pink,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",...,Narrow,Plastic,14900,Low-value product,CHF,Switzerland,Le Landeron,NaN,3263,High Views
1,1979.00,11.12,3.88,35000,2432,0,pink,Hardtop,Princess Power Boats,"Used Boat, Diesel",...,Medium,GRP,35000,Low-value product,CHF,Switzerland,Neuenburgersee,Hauterive,2432,High Views
2,2002.00,12.35,3.48,125900,2261,0,pink,Bowrider,Windy Power Boats,"Used Boat, Diesel",...,Medium,GRP,125900,Mid-value product,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,High Views
3,2009.00,20.30,5.20,949000,2154,0,pink,Hardtop,Pershing Power Boats,"Used Boat, Diesel",...,Wide,GRP,949000,High-value product,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,High Views
4,1993.00,6.14,2.34,19900,2026,0,pink,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",...,Narrow,Plastic,19900,Low-value product,CHF,Switzerland,Murtensee,Avenches,2026,High Views
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9883,2018.00,10.36,3.05,229950,18,0,pink,Hardtop,Jeanneau Power Boats,"New Boat From Stock, Diesel",...,Medium,PVC,229950,Mid-value product,GBP,United Kingdom,Lincoln,NaN,18,Low Views
9884,2007.00,26.30,6.35,1500000,18,0,pink,Motor Yacht,NaN,"Used Boat, Diesel",...,Wide,GRP,1500000,High-value product,EUR,Italy,Mar Tirreno,NaN,18,Low Views
9885,2020.00,6.41,2.48,62800,18,0,pink,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",...,Narrow,PVC,62800,Mid-value product,EUR,France,La Grande Motte,NaN,18,Low Views
9886,2020.00,6.41,2.45,53900,15,0,pink,Center Console Boat,Bénéteau Power Boats,"New Boat From Stock, Unleaded",...,Narrow,PVC,53900,Mid-value product,EUR,France,Port Leucate,NaN,15,Low Views
9887,2003.00,20.30,5.50,580000,13,0,pink,Motor Yacht,Dominator Power Boats,"Used Boat, Diesel",...,Wide,GRP,580000,High-value product,EUR,Croatia,NaN,NaN,13,Low Views

In [15]:
# Drop redudant columns
df_n = df_n.drop(columns=['YearEst_x', 'Length_x', 'Width_x', 'Price_x', '#Views_x'])

df_n.head(5)

,ClusterID,ClusterGrp,Category,Manufacturer,Cond,YearEst_y,AgeCond,Length_y,LenCond,Width_y,WidCond,Material,Price_y,ValCond,Currency,Country,StRegion,Location,#Views_y,VisCond
0,0,pink,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,Old,7.70,Medium,2.46,Narrow,Plastic,14900,Low-value product,CHF,Switzerland,Le Landeron,NaN,3263,High Views
1,0,pink,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,Old,11.12,Medium,3.88,Medium,GRP,35000,Low-value product,CHF,Switzerland,Neuenburgersee,Hauterive,2432,High Views
2,0,pink,Bowrider,Windy Power Boats,"Used Boat, Diesel",2002.00,Mid,12.35,Medium,3.48,Medium,GRP,125900,Mid-value product,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,High Views
3,0,pink,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,Mid,20.30,Long,5.20,Wide,GRP,949000,High-value product,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,High Views
4,0,pink,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,Old,6.14,Short,2.34,Narrow,Plastic,19900,Low-value product,CHF,Switzerland,Murtensee,Avenches,2026,High Views

In [16]:
# Rename columns back to normal
df_n.rename(columns = {'YearEst_y' : 'YrEst'}, inplace = True)
df_n.rename(columns = {'Length_y' : 'Length'}, inplace = True)
df_n.rename(columns = {'Width_y' : 'Width'}, inplace = True)
df_n.rename(columns = {'Price_y' : 'Price'}, inplace = True)
df_n.rename(columns = {'#Views_y' : '#Views'}, inplace = True)

df_n.columns

Index(['ClusterID', 'ClusterGrp', 'Category', 'Manufacturer', 'Cond', 'YrEst',
       'AgeCond', 'Length', 'LenCond', 'Width', 'WidCond', 'Material', 'Price',
       'ValCond', 'Currency', 'Country', 'StRegion', 'Location', '#Views',
       'VisCond'],
      dtype='object')

In [17]:
df_n.shape

(9888, 20)

In [18]:
df_n.head(5)

,ClusterID,ClusterGrp,Category,Manufacturer,Cond,YrEst,AgeCond,Length,LenCond,Width,WidCond,Material,Price,ValCond,Currency,Country,StRegion,Location,#Views,VisCond
0,0,pink,Motor Yacht,Bayliner Power Boats,"Used Boat, Unleaded",1992.00,Old,7.70,Medium,2.46,Narrow,Plastic,14900,Low-value product,CHF,Switzerland,Le Landeron,NaN,3263,High Views
1,0,pink,Hardtop,Princess Power Boats,"Used Boat, Diesel",1979.00,Old,11.12,Medium,3.88,Medium,GRP,35000,Low-value product,CHF,Switzerland,Neuenburgersee,Hauterive,2432,High Views
2,0,pink,Bowrider,Windy Power Boats,"Used Boat, Diesel",2002.00,Mid,12.35,Medium,3.48,Medium,GRP,125900,Mid-value product,CHF,Switzerland,Lago Maggiore,6600 Locarno,2261,High Views
3,0,pink,Hardtop,Pershing Power Boats,"Used Boat, Diesel",2009.00,Mid,20.30,Long,5.20,Wide,GRP,949000,High-value product,EUR,Germany,Baltic Sea,Neustadt In Holstein,2154,High Views
4,0,pink,Sport Boat,Sea Ray Power Boats,"Used Boat, Unleaded",1993.00,Old,6.14,Short,2.34,Narrow,Plastic,19900,Low-value product,CHF,Switzerland,Murtensee,Avenches,2026,High Views

In [19]:
# Removed '_merge' flag
#df_n = df_merged.drop(columns = ['_merge'])

#df_n

In [20]:
# Export final dataset for use in tableau or other projects
df_n.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'for_analysis.csv'), index=False)